<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="grid grid-cols-5">
      <div
        class="md:col-span-3 w-full h-screen bg-[url('<%=baseURL%>/assets/bg-login.png')] bg-cover bg-center bg-no-repeat hidden md:block"
      >
        <div
          class="w-full h-full flex justify-center items-center bg-[#0D28A6] bg-opacity-50"
        ></div>
      </div>
      <div class="col-span-5 md:col-span-2 mx-auto md:mx-0">
        <div class="flex justify-center items-center h-screen">
          <div class="w-full max-w-md flex flex-col gap-8">
            <h1 class="text-3xl font-bold">Welcome, Admin BCR</h1>
            <form action="javascript:void(0)" method="POST">
              <div class="mb-4">
                <label
                  for="username"
                  class="block text-sm font-medium text-gray-700"
                  >Username</label
                >
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="mt-1 block w-full px-3 py-2 border border-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
              <div class="mb-4">
                <label
                  for="password"
                  class="block text-sm font-medium text-gray-700"
                  >Password</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="mt-1 block w-full px-3 py-2 border border-gray-200 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
              <div class="mb-4">
                <button
                  type="submit"
                  class="w-full bg-[#0D28A6] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const username = document.querySelector('#username').value;
        const password = document.querySelector('#password').value;
        const response = await fetch('<%=baseURL%>/api/v1/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username, password }),
        });
        const data = await response.json();
        console.log(data);
        if (data.success === true) {
          localStorage.setItem('token', data.data.token);
          localStorage.setItem('user', JSON.stringify(data.data.user));
          window.location.href = '<%=baseURL%>/admin/dashboard';
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.message,
          });
        }
      });
    </script>
  </body>
</html>
